<!DOCTYPE.html>
<html>
  <head>
    <link href="style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Chivo' rel='stylesheet' type='text/css'>
    <title>Grocery List</title>
  </head>
  <body>
    <div id="top-bar">
      <h1 id="title">The Smart Grocery List</h1>
    </div>
    <div>
      <form action='/groceries' method='POST' id="form">
      <input type='Text' name='Item' size='10' placeholder='Name of Item' >
      <button type='submit'>Add Item</button>
      </form>
    </div>
    <div id="list">
      <ul>
        <% @results.each do |task| %>
            <li> <%= task["item"] %> </li>
            <form action="/groceries/delete" method='POST'>
              <button name="button" value="<%="#{task["item"]}"%>">Done</button>
            </form>
          <% end %>
      </ul>
    </div>








  </body>
</html>
